*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial,sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

/*===============Header-Section===============*/

.header{
    height: 60px;
    width: 100%;
    background-color: #f2f1f0;
    position: fixed;
    display: flex;
    align-items: center;
  
}

.navbar{
    padding: 10px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}

.logo-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    margin-left: 10px;
}

img.logo{
    height: 45px;
    width: 45px;
    background-size: cover;
    border-radius: 50%;
}

.sidebar{
    display: flex;
    gap: 50px;
}

.links{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}

.hamburger{
    display: none;
    z-index: 1;
}

/*=================Nav-Decoration=================*/

#home{
    height: 40px;
    width: 70px;
    display: grid;
    place-items: center;
}

#about{
    height: 40px;
    width: 70px;
    display: grid;
    place-items: center;
}

#project{
    height: 40px;
    width: 90px;
    display: grid;
    place-items: center;
}

#skills{
    height: 40px;
    width: 70px;
    display: grid;
    place-items: center;
}

#contact{
    height: 40px;
    width: 120px;
    display: grid;
    place-items: center;
}

.links{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*================Hover-effects===============*/

.links:hover{
    background-color: #000000;
    color: #ffffff;
}

/*================Use media query==============*/

@media (max-width: 810px){

    .hamburger{
        display: block;
    }

    .sidebar{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 65px 15px 0 15px;
        gap: 45px;
        background-color: rgba(242, 241, 240, 0.5);
        backdrop-filter: blur(2.4px);
        box-shadow: 25px -10px 50px #000000;
        height: 100vh;
        width: 170px;
        transition: transform 0.3s ease-in;
    }

    .sidebargo{
        transform: translate(220px, 0px);
    }

    #home{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    
    #about{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    
    #project{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
    
    #skills{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    #contact{
        height: 40px;
        width: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 420px){

    .logoo{
        font-size: 1rem;
    }

    .links{
        font-size: 1rem;
    }
}

/*================Main Content-Section===============*/

.main{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 80vh;
    width: 95vw;
    background-color: salmon;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.profile{
    width: 40vw;
    background-color: yellow;
}

.intro{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;

}

.n1{
    margin-top: 2px; 
}

.n2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 5px;
}

.paragraph{
    padding: 10px 0 10px 10px;
}

.autotype{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.first-text{
    margin-top: 2px;
}

.sec-text{
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.profile-picture{
    position: absolute;
    height: 250px;
    width: 200px;
    border: 3px solid #000000;
}

.shadow{
    position: relative;
    height: 250px;
    width: 200px;
    background-image: url(prem-image.png.jpg);
    background-size: cover;
    top: -5px;
    left: -5px;
    /* position: relative; */
}

/* *{
    margin: 0;
    padding: 0;
    font-family: arial;
    list-style: none;
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
}


.navbar{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    position: relative;
    height: 40px;
}

.navbar ul{
    display: flex;
    gap: 65px;
}

.navbar ul li{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}

.menu{
    height: 20px;
    width: 20px;
    background-image: url(hum.png);
    background-size: cover;
    display: none;
}



@media (max-width: 800px){
    .menu{
        height: 20px;
        width: 20px;
        background-image: url(hum.png);
        background-size: cover;
        display: block;
    }

    .navbar ul{
        position: absolute;
        padding: 20px 30px 100% 30px;
        gap: 40px;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }

    .navbar ul li{
        color: #000000;
    }
} */